<form id='form_add_entrada_caixa' >
    <h3>
        + <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
            <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
          </svg> 
        Entrada de Caixa</h3>
    <span class="btn_close_form">X</span>

    <div class='div_data'>
        <label>Data: </label>
        <input  type='Date' id='date'/>
    </div>
    <div  class='div_aluno'>
        <label>Aluno</label>
        <select>
            <option>RA01 - Fulano de Tal</option>
            <option>RA02 - Ciclano da Silva</option>
            <option>RA03 - Beltranilson de Seila Onde</option>
        </select>
    </div>
    <div  class='div_curso'>
        <label>Curso</label>
        <select>
            <option>Excel Avançado</option>
            <option>Informática Completo</option>
        </select>
    </div>
    <div  class='div_parcela'>
        <label>Parcela</label>
        <select>
            <option>Parcela 1</option>
            <option>Parcela 2</option>
            <option>Parcela 3</option>
            <option>Parcela 4</option>
            <option>Parcela 5</option>
            <option>Parcela 6</option>
            <option>Parcela 7</option>
            <option>Parcela 8</option>
            <option>Parcela 9</option>
            <option>Parcela 10</option>
            <option>Parcela 11</option>
            <option>Parcela 12</option>
            <option>Parcela 13</option>
            <option>Parcela 14</option>
            <option>Parcela 15</option>
            <option>Parcela 16</option>
        
        </select>
    </div>
    <div  class='div_forma_pag'>
        <label>Forma de Pag.</label>
        <select>
            <option>Dinheiro</option>
            <option>Débito</option>
            <option>Crédito</option>
            <option>PIX</option>
        </select>
    </div>
 
    <div  class='div_valor'>
        <label>Valor: </label>
        <input type='text' id='valor'/>
    </div>
    <div  class='div_descricao'>
        <label>Observação </label>
        <input  type='text' id='descricao'/>
    </div>

    <div class='div_submit'><input type='submit' value="Salvar"/></div>

</form>
