<div id='bg_entradas_info_table'>
    <menu class='filtro_table' id='filtro_table_pag_mensal'>
        <div>
            <select id='select_ano'>
                <option value='2019'>2019</option>
                <option value='2020'>2020</option>
                <option selected="selected" value='2021'>2021</option>

            </select>
        </div>
        <div>
            <select id='select_mes'>
                <option value='janeiro'>Janeiro</option>
                <option value='fevereiro'>Fevereiro</option>
                <option value='março'>Março</option>
                <option value='abril'>Abril</option>
                <option value='maio'>Maio</option>
                <option value='junho'>Junho</option>
                <option value='julho'>Julho</option>
                <option value='agosto'>Agosto</option>
                <option value='setembro'>Setembro</option>
                <option value='outubro'>Outubro</option>
                <option value='novembro'>Novembro</option>
                <option value='dezembro'>Dezembro</option>
            </select>
        </div>
    </menu>

    <div class='bg_tables bg_info_tables'>
    <div class="bg_search_inputs">
        <label>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </label>
        <input type="text" class="input_search" id="input_search_aluno" placeholder="Aluno"/>
    </div>
        <table class='table_info' border='1' id='pag_mensal_table_info'>
            <caption>Pagamentos de Mensalidade</caption>
            <thead>
                <th>Data
                    <button class='btn_sort' id='sort_data' data-sort_order='ASC'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>
                </th>
                <th>Aluno
                    <button class='btn_sort' id='sort_aluno'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>
                </th>
                <th>Curso
                    <button class='btn_sort' id='sort_curso'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>
                </th>
                <th>Parcela
                    <button class='btn_sort' id='sort_parcela'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>
                </th>
                <th>Form. Pag
                    <button class='btn_sort' id='sort_form_pag'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>
                </th>
                <th>obs.</th>
                <th>Valor R$</th>
                <th></th>
            </thead>
            <tbody id='tbody'>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td class='td_valor_total'>R$ 0, 00</td>
            </tbody>
        </table>
        <table class='table_info' border='1' id='entrada_avulsa_table_info'>
            <caption>Entradas Avulso</caption>

            <thead>
                <th>Data</th>
                <th>Descrição</th>
                <th>Form. Pag</th>
                <th>Valor R$</th>
                <th></th>

            </thead>
            <tbody id='tbody'>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>R$ 0, 00</td>
                <td>...</td>

            </tbody>
        </table>
    </div>
    <!--bg_tables-->

</div>
