#update_app_content{
    max-width:600px; 
    padding:50px;
    text-align: center;
    border:1px solid #333;
    margin: 0 auto;
    margin-top:20%;

    #update_message{
        max-width: 550px;
        margin:0 auto;

    }
}