
#bg_info_table_pag_mensal{
    h3{
        margin-top:20px;
        margin-bottom:20px;
    }

    .filtro_table{
        background: #fff;
        border:1px solid #333;
        border-radius: 3px 3px 0px 0px;
        border-bottom:0px;
    }
     
    #bg_tables{
        border:1px solid #444; 
        padding:10px;
    }
    table{
        caption{
            padding:8px;
            background:#ccc;
            color:#333;
            font-size:14px;
            text-align: right;
        }
        thead{
            th{
                background:#4d794d;
            }  
        }
        tbody{
            tr{
                &:nth-child(even){
                    background:#dfdfdf;
                }
                &:hover{
                    background: #f6f6e0;
                }
                td{
                    padding:10px 5px;
                }
            }
            tr#tr_resumo{
                background:#ccc;
                #td_res_valor_total{
                    text-align: center;
                    background:#464; 
                    color:#fff;
                }
            }
        }
        .td_linha{
            text-align: center;
            background:#ccc;
            color:#666;
        }
        .td_data{
            text-align: center;
        }
        .td_parcela{
            text-align: center;
        }
        .td_valor_total{
            color:#247e24;
        }

    }
}
#entrada_avulsa_table_info{
    margin-top:40px;
}
    
