@use "../abstracts/" as *;

$verde-claro: "#d3ddd3"; 

#form_add_pag_mensalidade{
    margin:0 auto;
    max-width: 1000px;
    h3{
        width:100%; margin-top:20px; margin-bottom:20px;
    }

fieldset{
    background: rgb(115, 141, 115);
    border:1px solid #333;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding:0px;
.row{
    min-width: 100%;
    display: flex; 
    flex-wrap: wrap;
    border:1px solid #565;
}
.div_inputs{
    margin:0px;
    background:#ccc;
    flex-shrink: 1;
    flex-grow: 1;
    padding:0px;
    box-shadow: 0px 0px 1px #111;
    min-width: 100px;
    width:auto;

label{
    width:100%; 
    border-radius: 0px;
    padding:5px;
    display: flex;
    justify-content:center; 
    background: #d3ddd3;
    border-bottom:1px solid #aaa;
     // color:#f0f0f0
    }

input, select, textarea{width:100%;  height:50px;
    padding:12px 10px;
    border-radius: 0px;
    border:0px solid #aaa;
    resize: vertical;
    &:focus{
        outline: 1px solid $primary-color;
        outline-offset: -1px;
    }
}
input, select{
    text-align: center;
}

select{
   
}
textarea{
    min-height:60px ;
    margin-bottom:-3px !important;
}

input[readonly='true']{
    background: #eee;
    user-select: none;
}
#curso_valor{
    color:rgb(52, 78, 131);
}
#curso_desconto{
    color:rgb(197, 102, 116);
}
#curso_valor_total{
    color:green;
    font-weight: bold;
}
}
.div_n_lanc{max-width: 150px; min-width: 100px; width:auto; }
.div_aluno, .div_curso, .div_resp{
    min-width: 100px ;
}
 .div_curso_valor, .div_curso_valor_total, .div_curso_desconto, .div_forma_pag{
width:auto;
max-width: 25%;
flex-grow: 1;
flex-shrink: 1;
min-width: none;
 input{
    font-size: 18px;
    width:100%;
 }
}

.div_vencimento{ }
.div_data{};

.div_submit{
    padding:20px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 0px #666;
    input[type='submit']{
        @extend .btn-primary;
        background: #464;
        max-width: 180px;
    }
    }

    }

 
}
