@use "../abstracts/" as *;

$verde-claro: "#d3ddd3"; 

#form_add_saida_avulsa{
    margin:0 auto;
    max-width: 1000px;
    h3{
        width:100%; margin-top:20px; margin-bottom:20px;
    }

fieldset{
    background: rgb(141, 115, 115);

.div_inputs{
    label{
        background: #ddd3d3;
        }
}



#div_data{
    max-width: 180px !important;
}
#div_saida_valor{
    max-width: 100px !important;
   input{
    color:rgb(184, 53, 53);
   }
}
#div_tipo_saida{
    max-width: 150px !important;
}
#div_tipo_saida{
    max-width: 150px !important;
}

.div_data{};

.div_submit{
    input[type='submit']{
        @extend .btn-default-delete;
        background: rgb(190, 64, 64);
      
        max-width: 180px;
    }
    }

    }

 
}
