@use "../abstracts/" as *;
.bg_info_resumo{
    h3{
        margin-top:20px;
        margin-bottom:20px;
    }
    .filtro_resumo{
        background: #fff;
        border:1px solid #333;
        border-radius: 3px 3px 0px 0px;
        border-bottom:0px;
        display: flex;
        padding:5px; 
        background:#ccc;
     
        select{
            font-size:16px;
            padding:5px 10px;
            font-weight: bolder;
            color:#555;
        }
    }
    #bg_tables{
        border:1px solid #444; 
        padding:10px;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        border:1px solid #333;
        caption{
            padding:8px;
            background:#333;
            color:#f0f0f0;
            font-size:14px;
        }
        thead{
            th{
                font-weight: normal;
                height:40px;
                background: #333;
                color:#fff;
                border: 1px solid #666;
                font-size:14px;

            }  
        }
        tbody{
            tr{
                background:#f0f0f0;

                &:nth-child(even){
                    background:#e6e6e6;
                }
                &:hover{
                    background: #f6f6e0;
                }
                td{
                    border: 1px solid #333;
                    padding:10px 5px;
                }
            }
        }
    }
    .td_mes{}
    .td_num_pag_mensalidade{  text-align: center;}
    .td_pag_mensalidade{color:green; text-align: center;}
    .td_entradas_avulso{ color:green; text-align: center;}
    .td_saidas_avulso{
        text-align: center;
        color:#bd4343;

    }
    .td_total{
        color:green;
        text-align: center;
    }

}
#bg_saidas_info_table{
    caption{
        background:#bd4343;
    }
    tr#tr_resumo{
        #td_res_valor_total{
            text-align: center; 
            background: #bd4343;
            color:#fff;
        }
    }
  
}
#bg_entradas_info_table{
        caption{
            background:#4d794d;
        } 
            tr#tr_resumo{
                #td_res_valor_total{
                    text-align: center;
                    background:#464; 
                    color:#fff;
                }
            }
        .td_linha{
            text-align: center;
            background:#ccc;
            color:#666;
        }
        .td_data{
            text-align: center;
        }
        .td_parcela{
            text-align: center;
        }
        .td_valor_total{
            color:#247e24;
        }
}
#entrada_avulsa_table_info{
    margin-top:40px;
}
    
