@use "../../../assets/css/sass/abstracts/" as *;

#form_delete_curso{
    @extend .form_flex_absolute;
    border:1px solid red;
    fieldset{
        min-width: 100%;
        margin-bottom:10px;
    }
    div{
        overflow: hidden;
        display: flex;
        max-width: 100%;
        select{
            min-width: 300px;
            flex-grow: 1;
        }
    }
    #aluno_ra{ max-width: 80px; min-width: 50px; }

 
    #div_submit{
        width:100%;
        input{
         background: rgb(170, 63, 63);
        }
    }
}