@use '../../assets/css/sass/abstracts/' as *;

#header_admin {
  margin-top: -60px;
  z-index: 3;
    grid-area: header;
    background: $primary-color;
    background: #eee;
    position: fixed;
    border-bottom:1px solid #666;
    width: 100%;
    #header_admin_center {
      height: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0px auto;
      padding: 0px $padding-large;
      max-width: 100%;
      
      #login_info{
        display:flex;
        align-items: stretch;
        color:#333;
        li{
          list-style: none;
          a{ text-decoration: none;
            padding:10px;
            border-radius: 3px;
          &:hover{
            background:#eee;
            svg{
              color:$secondary-color !important;
            }
            
          }
          }
        }

        #user_menu, #user_info, #bg_logout_user{
          display: flex;
          align-items: center;
          width: auto;
          svg{ color:#333}
          border-left:1px dotted #ccc;
          padding: 10px;

        }
        #user_menu{
         
        }
        #user_info, #user_menu{
        }
        #bg_logout_user{
        }
        #user_info{
          #user_icon{
            overflow: hidden;
            margin:5px;
            margin-right:10px;
            border-radius: 50%; 
            display: flex;
            
            width:35px;
           height:35px;
            flex-shrink: 0;
            background:#111;
            img{
              width: 100%;
              height:auto;
              background:#ccc;
            }
            svg{
              max-width: auto;
              max-height: auto;
              width:100%;
              height:auto;
              color:#fff;
              flex-grow: 1;
              align-items: center;
              justify-content: center;
            }
          }
          #bg_username{
            flex-shrink: 1;
            width:auto;
            align-items: center;
            #username{
              display:block;
              clear:both;
              width:100%;
              padding-bottom:-2px;
            }
            #user_role{
              font-size:14px; color:#999;
            }
          }
        }
      }
      #bg_logout_user{
        #btn_logout_user{
          color:#444;
          background: transparent;
          padding:5px 10px;
          cursor: pointer;
          border:1px solid #999;
          border-radius: 5px;
          font-size: 14px;
          &:hover{
            color:$primary-color;
            background:#fff;
            
          }
          &:active{
            background:#eee;
          }
        }
      
      }
 
    }
  }