@use '../abstracts/' as *;

#bg_main_menu_lateral_admin{
  position: relative;
  transition: all 0.3s;
  position: fixed;
  margin-top: -60px;
  min-height: 100vh;
  width:14%;
  min-width: 150px;
  z-index: 4;
  grid-area: aside; 
  background:#222;
  nav{
    margin-top:30px;
    ul li {
      clear:both;
      a {
        user-select: none;
        padding: 13px 15px;
        color: #fafafa;
        height: auto;
        font-size: 14px;
        width:100%;
        display: block;

        &:hover {
          //color: lighten($primary-color, 30%);
          background:#2a2a2a;
        }
        &:active{
          background:#2c2c2c;

        }
        span{
        //  transition-timing-function: ease-in;
        opacity: 1;

        }

      }
    }
    li[data-auth='users'], li[data-auth='contratos'] {
      border-top:1px solid #111;
      margin-top:10px;
     
      a{
        padding-top:20px;
      }
    }

    li[data-auth='log_data'], li[data-auth='users'] {

    }

    .active{
      //color:#ff9;
      color: rgb(109, 172, 253);
      background:#1f1f1f;
      opacity: 1 !important;

    }
  }
}

@media screen and (max-width: 1130px) {
  #bg_main_menu_lateral_admin{

 #nav_main_menu_lateral_admin{
  a{font-size: 12px ;}
 }
} 
}


@media screen and (max-width: 1000px) {
  #bg_main_menu_lateral_admin{
    width:60px;
    min-width:60px;
    nav{

      a{
        position: relative;
       
        svg{

          max-height:20px !important;
          max-width:20px !important;
          height:20px !important;
          width:20px !important;
        }
        span{
          display: none;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: absolute;
          opacity: 0 !important;
          right: -100px;
          top:10px;
          padding:5px;
          background: #333;
          border-radius: 5px;
          width:100px;
          height:30px;
         
        }
         &:hover{
           span{
          opacity: 1 !important;
          display: flex;



           }
         }
     }
     } 
  }

 }