<form class='form_flex_static ' id="form_add_todo">
    <span class='btn_close_form'>X</span>
    <h1>Adicionar Nova Tarefa</h1>
        <div>
            <label>Título</label>
            <input type="text" />
            <select id="pritoridade">
                <option>Alta</option>
                <option>Média</option>
                <option>Baixa</option>
            </select>
        </div>
        <div> 
            <label>Descrição</label>
            <textarea></textarea>
        </div>
    <input type="submit" />
</form>