<div class='components' id='cursos_info'>
    <h1>Nossos Cursos</h1>
    <div class='page_content'>
        <!---------------------------------INFORMÁTICA PRÁTICA-->
        <div class='curso_content' id='informatica_pratica'>
            <h2>Informática Prática</h2>
            <div class='categoria'>
                <p>Categoria: Informática</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>Introdução a Informática</li>
                    <li>Dispositivos</li>
                    <li>Pacote Office</li>
                    <li>Instalação de Programas</li>
                    <li>Atualização e Formatação</li>
                    <li>Redes</li>
                    <li>Windows</li>
                    <li>Digitação</li>
                    <li>Hardware,</li>
                    <li>Internet,</li>
                    <li>Backup e Segurança</li>
                    <li>Gerenciamento de Dados</li>
                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$90,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>


        <!---------------------------------INFORMÁTICA PROFISSONAL-->
        <div class='curso_content' id='informatica_profissional'>
            <h2>Informática Profissional</h2>
            <div class='categoria'>
                <p>Categoria: Informática</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>Introdução a Informática</li>
                    <li>Dispositivos</li>
                    <li>Pacote Office</li>
                    <li>Instalação de Programas</li>
                    <li>Atualização e Formatação</li>
                    <li>Windows</li>
                    <li>Digitação</li>
                    <li>Hardware,</li>
                    <li>Redes</li>
                    <li>Internet,</li>
                    <li>Backup e Segurança</li>
                    <li>Gerenciamento de Dados</li>
                    <li>Inglês Instrumental</li>
                    <li>Introdução a Banco de Dados</li>
                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$90,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>


        <!---------------------------------INFORMÁTICA PROFISSONAL-->
        <div class='curso_content' id='informatica_completo'>
            <h2>Informática Completo</h2>
            <div class='categoria'>
                <p>Categoria: Informática</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>Introdução a Informática</li>
                    <li>Dispositivos</li>
                    <li>Pacote Office</li>
                    <li>Instalação de Programas</li>
                    <li>Atualização e Formatação</li>
                    <li>Windows</li>
                    <li>Digitação</li>
                    <li>Hardware,</li>
                    <li>Redes</li>
                    <li>Internet,</li>
                    <li>Backup e Segurança</li>
                    <li>Gerenciamento de Dados</li>
                    <li>Inglês Instrumental</li>
                    <li>Lógica de Programação</li>
                    <li>
                        Introdução a: HTML, CSS, JS, Photoshop</li>
                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$90,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>

        <!---------------------------------INFORMÁTICA KIDS-->
        <div class='curso_content' id='informatica_kids'>
            <h2>Informática KIDS</h2>
            <div class='categoria'>
                <p>Categoria: Informática</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>Introdução a Informática</li>
                    <li>Dispositivos</li>
                    <li>Pacote Office</li>
                    <li>Instalação de Programas</li>
                    <li>Windows</li>
                    <li>Digitação</li>
                    <li>Hardware,</li>
                    <li>Internet,</li>
                    <li>Programação KIDS</li>
                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$90,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>


        <!---------------------------------INGLÊS BÁSICO-->
        <div class='curso_content' id='informatica_kids'>
            <h2>Inglês Básico</h2>
            <div class='categoria'>
                <p>Categoria: Inglês</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>Básico 1: (o aluno terá o primeiro contato com o idioma, abecedário, numerais, vocabulário baseado no seu dia a dia e a aprenderá a usar frases simples).
                    </li>
                    <li>
                        Básico 2: (o aluno será capaz de usar frases e pequenos diálogos, compreendendo mais sobre a gramática e a como trabalhar com tempos verbais simples).
                    </li>

                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$120,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>

        <!---------------------------------INGLÊS Intermediário-->
        <div class='curso_content' id='ingles_intermediario'>
            <h2>Inglês Intermediário</h2>
            <div class='categoria'>
                <p>Categoria: Inglês</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>
                        Intermediário 1 (o aluno começará a se expressar com mais independência, compreendera textos mais comuns além de ser introduzido a outros tempos verbais).
                    </li>
                    <li>
                        Intermediário 2 (o aluno conseguirá trabalhar com todos os tempos verbais, e a se expressar sobre assuntos variados).
                    </li>

                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$120,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>

        <!---------------------------------INGLÊS Avançado-->
        <div class='curso_content' id='ingles_avancado'>
            <h2>Inglês Avançado</h2>
            <div class='categoria'>
                <p>Categoria: Inglês</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>
                        Avançado 1 (o aluno conseguira se expressar de forma mais natural sem depender do interlocutor, compreender textos e diálogos sobre diversos assuntos, e uma boa compreensão da gramática inglesa).
                    </li>
                    <li>
                        Avançado 2 (o aluno será capaz de falar de forma mais fluente, e conhecerá mais sobre a cultura inglesa, expressões idiomáticas, phrasal verbs, além de identificar diferentes sotaques e peculiaridades do idioma).

                    </li>


                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$120,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>

        <!---------------------------------INGLÊS KIDS-->
        <div class='curso_content' id='ingles_avancado'>
            <h2>Inglês KIDS</h2>
            <div class='categoria'>
                <p>Categoria: Inglês</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>

                    <li>
                        KIDS (a criança aprenderá de forma divertida, espontânea e prática, tendo o contato com a língua inglesa através de atividades, jogos, quadrinhos e dinâmicas onde ela começará a formar seu vocabulário, tendo como base o alfabeto, cores, numerais, itens do dia-a-dia além das expressões bases do idioma).

                    </li>
                    <li>
                        Pre-teen (o aluno será preparado para as próximas etapas do Inglês, onde terá seu vocabulário expandido, trabalhando as bases do idioma de forma dinâmica e interativa).
                    </li>

                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$120,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>

        <!---------------------------------EXCEL AVANÇADO-->
        <div class='curso_content' id='ingles_avancado'>
            <h2>Inglês KIDS</h2>
            <div class='categoria'>
                <p>Categoria: Excel</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>

                    <li>Atalhos</li>
                    <li>Tabelas Dinâmicas
                    </li>
                    <li>Gráficos Dinâmicos</li>
                    <li>Formatação Condicional</li>
                    <li>Validação de Dados
                    </li>
                    <li>Macros</li>
                    <li>Segurança de Planilhas e Pastas de Trabalho</li>
                    <li>Hiperlinks</li>
                    <li>Dashboards</li>
                    <li>Importação e Exportação de Dados do Excel e Banco de Dados</li>
                    <li>
                        Vínculos</li>
                    <li>
                        Solver</li>
                    <li>
                        Atingir Meta
                    </li>
                    <li>
                        Funções Aninhadas
                    </li>
                    <li>
                        Funções de Lógica de Texto</li>
                    <li>
                        Funções de Data e Hora</li>
                    <li>
                        Funções Matemáticas</li>
                    <li>
                        Funções de Pesquisa</li>
                    <li>
                        PPROCC e PROCV</li>
                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$140,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 6 meses</p>
            </div>
        </div>

        <!---------------------------------DESENVOLVIMENTO WEB-->
        <div class='curso_content' id='ingles_desenvolvimento_web'>
            <h2>Desenvolvimento WEB</h2>
            <div class='categoria'>
                <p>Categoria: web</p>
            </div>
            <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>Lógica de Programação</li>
                    <li>Wireframes</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Photoshop</li>

                </ul>
            </div>
            <div class='div_valor'>
                <p class='valor'>Investimento: R$120,00</p>
            </div>
            <div class='div_duracao'>
                <p class='duracao'>Duração: 12 meses</p>
            </div>
        </div>

        <!---------------------------------BANCO DE DADOS-->
        <div class='curso_content' id='ingles_banco_dados'>
            <h2>Banco de Dados MySQL</h2>
            <div class='categoria'>
                <p>Categoria: banco de dados</p>
            </div>
               <div class='modulos'>
                <h3>Módulos</h3>
                <ul>
                    <li>Introdução a Banco de Dados</li>
                    <li>
                        Banco de Dados Relacional</li>
                    <li>
                        Introdução ao SQL, DDL, DML, DQL, DCL</li>
                    <li>
                        Normalização de Dados</li>
                    <li>
                        Introdução ao Workbench</li>
                    <li>
                        Diagrama EER</li>
                </ul>
                </div>
                <div class='div_valor'>
                    <p class='valor'>Investimento: R$120,00</p>
                </div>
                <div class='div_duracao'>
                    <p class='duracao'>Duração: 12 meses</p>
                </div>
           </div>
    </div><!--page_content-->

</div><!--components-->
