<div  class='bg_tables bg_view_tables' id='bg_view_table_cursos_info'>
    <table class='view_table' border='1'  id='view_table_cursos_info'>
        <thead> 
            <th>Cod.</th>
            <th>Curso</th>
            <th>Categoria</th>
            <th>Módulos</th>
            <th>M. Certificado</th>
            <th>Parc.</th>
            <th>Durac.</th>
            <th>C. H.</th>
            <th>Valor R$</th>

            <th></th>
            <th></th>
        </thead>
        <tbody id='tbody'>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tbody>
    </table>
</div>