<div class='bg_form_block_screen'>
<form id="form_add_feedback_bimestral" class="forms_controle_aula">
  <span class="btn_close_form">X</span>
  <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
  </svg>Feedback Bimestral</h3>

  <div id='div_select_aluno'>
      <label for="nome">Nome:</label>
      <select id='select_aluno'>
          <option></option>
      </select>
</div>

<p id='aluno_nome'></p>
<p id='curso_nome'></p>
<p id='bimestre_nome'></p>

  <div id='div_select_curso'><label>Curso:</label>
    <select id='select_curso'>
      <option></option>
      </select>
    </div>
  <div id='div_select_bimestre'>
    <label>Bimestres</label>
    <select required id='select_bimestre'>
      <option value='' disabled  selected>Selecione o Bimestre</option>
         <option value='bimestre 1'>Bimestre 1</option>
         <option value='bimestre 2'>Bimestre 2</option>
         <option value='bimestre 3'>Bimestre 3</option>
         <option value='bimestre 4'>Bimestre 4</option>
         <option value='bimestre 5'>Bimestre 5</option>
         <option value='bimestre 6'>Bimestre 6</option>
         <option value='bimestre 7'>Bimestre 7</option>
         <option value='bimestre 8'>Bimestre 8</option>
    </select>
  </div>
  <div id='div_observacao'><label>Observação:</label><textarea  id="observacao"></textarea></div>
  <input type="submit" value="Salvar" />
</form>
</div>