
<div class="components" id="controle_aula">
  <h1>Controle de Aula</h1>
  <div class="page_content">
    <form id="form_select_aluno">
        <div class="div_input">
          <label>Aluno: </label>
          <select id="main_select_aluno" class="input-primary">
            <option value="" disabled>Selectione um Aluno</option>
          </select>
        </div>

    </form>

    <div id="controle_aula_content">
    <nav class='nav_cursos_aluno'></nav>

    </div><!--aluno_content-->
    <!--page_content-->

  </div>
  <!--components-->
</div>


