@use '../abstracts/' as *;
@use './form_add_aula.scss/' as *;


#controle_aula {
  overflow: hidden;
  h1 {
    color: $title-color-dark;
    text-align: center;
    font-size:24px; 
    margin-top:40px;
    margin-bottom:40px;
    color: $text-color;
    width:100%;
    text-transform: uppercase;
    color:#444;
  }

  #form_select_aluno {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom:20px;
    label{
      background:#fff;
      display: block;
      padding: 10px;
      border: 1px solid #444;
      border-right:0px;
    }

    .div_input {
      background:#f90;
      display:flex;
      float: left;
      justify-content: center;
      select{
          padding: 10px;
          border: 1px solid #444;
          font-weight: bold;
          font-size:16px;
        }
    }
    button {
      float: left;
      margin:0px;
      margin-left:10px;
      padding:14px;
      svg{
        margin-bottom:-2px;
        margin-right:5px;
      }
    }
  }
  #aluno_content {
    border-radius: 5px 5px 0px 0px;
    border: $border-set-default;
    overflow: hidden;
    position:relative;
 
  nav.nav_cursos_aluno {
      background-color: #fff;
      border-bottom:$border-set-default;
      display:flex;
      justify-content: flex-end;
      align-items: center;

      ul {
        position: relative;
        overflow:hidden;
        display: flex;
        justify-content: flex-end;
        width:100%;
        .btn_add_curso{

          border: 1px solid $primary-color;
          padding:5px 20px;
          cursor:pointer;
          background:$primary-color;
          color:#fff;
          display: flex;
          align-items: center;
  
          svg{
             max-width: 100px;
             max-height: 100px;
             height:25px;
             width:auto;
          }
          &:hover{
            background:lighten($primary-color, 5%);
          }
        }

        li {
          list-style: none;
          padding:15px 0px;
          
          a {
            padding: 15px 20px 16px 20px;
            background: #fff;
            border: $border-set-default;
            border-top:0px;
            border-bottom:0px;
            color: #333;
            font-size:14px;
            text-transform: uppercase;

            user-select: none;
            &:hover{
    
            }
            &:active{
              background:#f6f6e0;
            }
          }
          .active{
            background:#ffe;
            color: #333;
              &:hover{
           //  background:#dddede;
              // color:#fff;
              }
          }
        }
      }
    }
    .btn_add_aula{
     top:17px;
     right:15px;
     border-radius:5px ;
      position: absolute;
      border:1px solid $primary-color;
      display: flex;
      align-items: center;
      background:#eee;
      color:$primary-color;
      padding:5px 10px 8px 10px;
      svg{
     height:25px; width:auto;

      }
      &:hover{
       background: #ffe;
      }
    }
    .btn_extra{
      cursor: pointer;
      padding:5px;
      margin-bottom:10px;
    }

    .bg_curso{
      position: relative;
      background:#fff;
      background:#ddd;
      padding:20px; 
      padding-top:0px;
      display:none;

      h3{ height:80px; display: flex; align-items: center; justify-content: center;}
    }
    .title_aluno_info{
      span{float:left; margin:0px !important;}
      .title_info_ra{
        font-weight: normal;
      }
    } 
      h3.title_curso_nome{ padding:30px;
      font-size:18px;
      text-align: center;
      width:100%;
      text-transform: uppercase;
    }
   
      h3[class*="web"]{
        color:rgb(32, 97, 134);
      }
      h3[class*="inglês"]{
        color:red;
      }
   //excel
      h3[class*="excel"]{ 
        color:rgb(38, 148, 38)
      }
   //informática
      h3[class^="informática"], h3[class*="informática"]{ 
        color:blue !important;
      }
    .bg_info_delete_curso{
      width:100%; 
      height:auto; padding:20px;
      display: flex;
      justify-content: center;
      flex-wrap:wrap;
      overflow: hidden;
      background:#ffd;
      align-items: center;
      p{
        display: block;
        width:100%;
        text-align: center;
        padding:10px;
      }
      button{ height:30px; margin: 0 auto;
        display: block;
        float:left;
        border:1px solid;
        padding:5px 10px;
        cursor: pointer;
    
      }
      .btn_deletar_curso{
        border-radius:5px;
        border-color:rgb(151, 23, 23);
        background:rgb(230, 62, 62);
        color:#fff;
        &:hover{
          background: rgb(252, 70, 70);
        }
      }
      .btn_add_aula{
       
       position: initial;
       margin-left:10px;
        svg{ width:auto; height: auto; margin-bottom:-2px}
        &:hover{
          background: #fff
        }
      }
      
 
    }
    .bg_bimestres {
     // border: $border-set-default;
      width: 100%;
      min-height: 300px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .bimestres {
        min-width: 100%;
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        //border: $border-set-default;
        background:#eee;
        margin-bottom:10px;
        box-shadow: 0px 1px 1px #999;

       // border: 1px solid #f90;
.resumo_bimestre{
      background:#fff;
      width:100%;
      display: grid;
      grid-gap: 1px;
      grid-template-columns: 1fr 1fr 1fr;
      padding:10px;

      p{
        width:auto;
        padding:5px;
        box-shadow: 0px 0px 0px 1px #ccc;  
      }
      span{
        font-weight: bold;
      }
        .feedback{
          grid-column: 1 / 4; 
          width:100%;
        }
     }
        h2 {
          font-weight: normal;
          flex-basis: 100%;
          font-size:18px;
          color:$text-color;
          text-transform: capitalize;
          margin-top:-10px;
          margin-bottom:10px;
          padding-bottom:10px !important;
          border-bottom:1px solid #ccc;
          color:rgb(77, 77, 77);
        }
        .columns {
          width: 24%;
          min-width: 200px;
          flex-grow: 1;
          border:$border-set-default;
        }
        .column_reposicao{
          display:flex;
          flex-direction: row;
          flex-wrap: wrap; 
          background: rgb(218, 211, 223);
          .aulas{width:auto; flex-grow:1; flex-shrink: 1;}
        }
        .aulas {
          position:relative;
          margin:10px;
          width: auto;
          max-width:300px;
          background: #ffffff;
          height: 80px;
          border: 1px solid rgb(70, 108, 179);
          overflow: hidden;
          transition: height 0.5s;
          box-shadow: 0px 1px 1px rgb(156, 156, 156);
          font-size: 13px;
          padding: 5px 10px 10px 10px;
          .status{
            text-transform: capitalize;
          }
          .aula_detalhes{
            margin-top:10px;
            border:1px solid #999;
            overflow-y: scroll;
            height:145px;
            padding:5px;
          }
          .aula_numero{
            text-transform: capitalize;
            color: darken($primary-color, 20%);
          }
          .aula_data{
            padding: 5px 0px;
            svg{max-height:14px; margin-bottom:-2px;
            color:$text-color}
            .aula_data_info{
            }
          }
        }
        .aula_concluida{
          background: #fff;

        }
        .aula_falta{
          background: #fee;
          border-color: rgb(163, 68, 68);

        }
        .aula_remarcada{
          background: rgb(229, 229, 241);
          border-color: rgb(106, 117, 128);
        }
        [data-aula_categoria="reposição"]{
          background:rgb(221, 212, 245) !important;
          border:1px solid #666;
        }
        [data-aula_categoria="ponto extra"]{
          background:rgb(236, 252, 180) !important;
          border:1px solid #666;
          height:30px;
          max-height: 180px !important;
          .aula_detalhes{
            height:80px;
          }
        }
        .open_aula {
          height: 260px;
        }
  
         .btn_deletar_aula{
           z-index: 2;
           cursor:pointer;
           float:left;
           padding:3px;
           margin-top:5px;
           font-size:12px;
           color:$text-color;
           &:hover{
             background: #f9f0f0;
           color:rgb(219, 30, 30);

           }
           svg{ z-index: 0;}
           
         }
         .btn_edit_aula{
           float:right;
           padding:3px; 
           margin-top:5px;
           cursor:pointer;
           &:hover{
            background: #f9f0f0;
            color:$primary-color;

          }
           &:active{
            background: #f9f0f0;
            color:darken($primary-color, 10%);
           }
         }
  
     
        .btn_open_close_aulas{
          cursor: pointer;
          position:absolute; 
         right:0px;
         top:0px;
          font-size:16px;
          background: $primary-color; 
          text-align: center;
          height:22px;
          width:30px;
          padding:2px;
          color:$text-color;
          font-stretch: expanded;
          border-radius:0px 0px 0px 3px;
          svg{
            margin-top:1px;
            color:#fff;
          }
          
          &:active{
            background:#aa9;
            user-select: none;
          }
        }
      }
    }
  }
}
