@use "../abstracts" as *; 
dialog{
  margin: 0 auto;
  padding: 20px;
}
#bg_forms_add{
  overflow: hidden;

}


.forms{
  @include form_flex;
  border: $border-set-default;
  position:fixed;
  right: 0px; left:0px;
  top: 25%; 
  z-index: 2;
  transition: all 2s;
  background: #fff;

  transform: scale(1);

  box-shadow: 0px 1px 2px #666;

  .close_form{
    right:0px;
    top:0px;
    padding: 5px 10px;
    position:absolute;
    cursor:pointer;

    &:hover{
      background:rgb(221, 79, 79);
    color:#fff;
    }
  }

}
#form_add_curso{
  display:none;
  select > option:disabled{
    background:#ffc;
  }
  select > option:first-child{
    background:#f0f0f0;
  }
}
#form_add_aula{
  display:none;
transition: all 2s;
background:#fff;

    #data_hora{
        display:flex; 
        max-width: 100%;
        input{
        }
    }

    #aula_numero{
      option[disabled=true]{
        background:#eec;
      }
    }

}
.edit_form{
  background:#ffffff !important;
  border:2px solid rgb(106, 138, 207);
  div{
    label{
      background:transparent !important;
      
    }
    input, select, textarea{
      background:transparent;
      border:1px solid rgb(170, 148, 115)
    }
  }
  .disabled { 
    position : relative; 
    color    : grey;
}
.disabled:after {
    position :absolute;
    left     : 0;
    top      : 0;
    width    : 100%;
    height   : 100%;
    content  :' ';
}
 
}

#btn_novo_aluno{
  float:right;
  flex-basis: 100%;
  clear:both;
  display:none;
}
#form_add_aluno{
 display:none;
 #add_aluno_ra{
   text-transform: uppercase;
 }
 .blocked{
   border: 1px solid red;
   background:rgb(250, 211, 211);
 }

div{
  #ra{
    max-width: 20px;
    flex-shrink:1;
  }
}


}

#nav_forms_add{
  padding:5px;
  display:flex;
  li{list-style: none;
    margin:3px;
  }
  a{
    padding:$padding-extra-light;
    color: $primary-color;
    background: #ddd;
    text-decoration: none;
  }
}
input:disabled{
  
  background:#999 !important;
}