#form_add_aluno{
    #add_aluno_ra{
      text-transform: uppercase;
    }
    .blocked{
      border: 1px solid red;
      background:rgb(250, 211, 211);
    }
   
   div{
     #ra{
       max-width: 20px;
       flex-shrink:1;
     }
   }
   
   
   }