@use "../abstracts" as *;

#form_add_aula_grupo {
  border: 2px solid lighten($primary-color, 10%);
  padding-bottom: 80px;
  box-shadow: $shadow-set-default;
display:flex;
max-width: 800px;
#bg_aula_info{
  max-width: 100%;
  border:1px solid #333;
  padding:20px 60px;
  display: flex;
  flex-wrap: wrap;
  float:left;
}
#bg_grupo_alunos{
  border:1px solid #333;
  background: #f9f3f0;
  padding:20px 10px;
  display: flex;
  flex-wrap: wrap;
  float:right;
  position: relative;
  padding-bottom: 50px;
  font-size: 13px;


}
  #div_detalhes {
    min-height: 50px;
  }
  #div_tema,
  #div_detalhes {
    width: 100%;
    flex-grow: 1;
  }
  background: $white-color-tone;
  #div_data,
  #div_horario {
    max-width: 50%;
  }
  #aula_categoria {
    display: none;
  }

  #div_select_aluno {
    display: none;
  }
  #div_select_bimestre {
    max-width: 50%;
  }
  #div_select_curso {
    display: none;
  }
  .select_aula {
    option[disabled="true"] {
      background: $yellow-light-color;
    }
  }

  #div_status_aula {
    width: 100%;
    label {
      position: relative;
      border: 1px solid $grey-dark-color;
      background: $grey-light-color;
      padding: 5px 10px 5px 10px;
      user-select: none;
      cursor: pointer;
      input {
        flex-shrink: 1;
        flex-grow: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        width: 8px !important;
        height: 8px !important;
        min-width: 8px !important;
        min-height: 8px !important;
        border-radius: 50%;
        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 5px;
        position: relative;
        top: 1px;
        border: 1px solid $grey-color;
        &:focus{
          outline: 0px;
        }
      }
      input:checked {
        background: $primary-color;
      }
      &:hover {
        background: $grey-color;
      }
    }

    .actived_label_aula_concluida {
      background: #cec !important;
      input:checked {
        background: #40c071;
      }
    }
    .actived_label_aula_com_falta {
      background: #fcc !important;
      input:checked {
        background: red;
      }
    }
    .actived_label_aula_remarcada {
      background: #cde !important;
      input:checked {
        background: #999;
      }
    }
  }
  #bg_prova_inputs {
    width: 100%;
    max-height: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 5px;
    background: #f0f0f0;
    display: none;
    border: 1px solid $primary-color;

    div {
      max-width: auto;
      min-width: auto;
    }
    label {
      min-width: 50px;
      max-width: auto;
      width: auto;
      font-size: 14px;
      max-height: 30px;
      border-right: 0px;
      border: 1px solid #bbb;
      border-right: 0px;
    }

    input,
    textarea {
      background: #fff;
      min-width: auto;
      height: 30px;
      max-height: auto;
      min-height: 30px;
      border: 1px solid #ccc;
    }
    textarea {
      min-width: 120px;
      flex-shrink: 0;
    }
    #div_nota_prova {
      width: auto;
      flex-shrink: 1;
      min-width: auto;
      input {
        max-width: 50px;
      }
    }
    #div_numero_questoes {
      label {
        width: 120px;
      }
      input {
        max-width: 50px;
      }
    }
    #div_obs_prova {
      flex-grow: 1;
    }
  }

  .select_aluno_adicionado{
    min-width: 40%;

  }
  #select_bimestre, #select_aula{
    max-width: 120px;;
  }

  .div_aluno_adicionado{
    border: 1px dotted #aaa;
    padding:3px 3px;
    margin-top:0px;
    margin-bottom:0px;
    &:hover{
      background: #ffe8dd;
    }
  }


  #btn_add_aluno_grupo{
    @extend .btn-default;
    position: absolute;
    right:0px; 
    bottom:0px;
    font-size: 12px;
    background: rgb(197, 90, 57);
    color:#fff;
    &:hover{
      background: rgb(212, 95, 59);

    }
  }
  .btn_del_aluno{
    padding:5px;
    &:hover{
      background: $red-color-tone;
      color:#fff;
      
    }
  }
  //classe adicionada e removida via JS para alterar ".div_aluno_adicionado".
  .hover_btn_del_aluno{
    background-color: #ffcccc !important; 
  }
  input[type='submit']{
    position: absolute;
    max-width:200px;
    min-width: 200px;
    bottom:20px; left: calc(50% - 100px);
  }
}
