@use '../abstracts/' as *;

#controle_aula {
  overflow: hidden;
  h1 {
    color: $title-color-dark;
    text-align: left;
    font-size:20px; 
    color: $primary-color;
    width:100%;
  }


  #form_select_aluno {
    background: #ebebeb;
    width: 100%;
    height: auto;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .div_input {
      float: left;
      padding-top: 5px;
    }
    button {
      float: right;
    }
  }
  #bg_cursos {
    #nav_cursos {
      overflow: hidden;
      padding: 5px;
      margin-top: 10px;
      ul {
        float: right;
        display: flex;
        align-items: flex-start;
        justify-content: right;
        li {
          list-style: none;
          a {
            padding: 10px 20px;
            background: #fff;
            border: $border-default;
            color: #333;
          }
        }
      }
    }
    #bg_bimestres {
      background: #fff;
      border: $border-default;
      padding: 20px;
      width: 100%;
      min-height: 300px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .bimestres {
        min-width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        border: 1px solid #f90;

        h2 {
          flex-basis: 100%;
          height: 20px;
          font-size:18px;
          color:$secondary-color;
          
        }
        .columns {
          width: 25%;
          min-width: 200px;
          flex-grow: 1;
        }
        .aulas {
          position:relative;
          margin: 5px;

          width: auto;
          max-width:300px;
          background: #ffc;
          cursor: pointer;
          height: 50px;
          border: 1px solid #ccc;
          overflow: hidden;
          transition: height 0.5s;
          box-shadow: 0px 1px 0px #ccc;
          font-size: 13px;
          padding: 5px;

          .aula_detalhes{
            border:1px solid #999;
            overflow-y: scroll;
            height:140px;
            scrollbar-color: red yellow;
       

          }

     
        }
        .open_aula {
          height: 220px;
        }
        .btn_open_close_aulas{
          position:absolute; 
         right:0px;
         top:0px;
          font-size:16px;
          background:#eed; 
          text-align: center;
          height:25px;
          width:40px;
          padding:2px;
          &:active{
            background:#aa9;
            user-select: none;
          }
        }
      }
    }
  }
}
