<form id='form_add_user' class='forms' >
    <span class="btn_close_form">X</span>

    <div>
    <input type='text' id='username' placeholder="Username">
</div>
<div>
    <input type='text' id='user_email' placeholder="Email">

</div>
<div>
    <select>
        <option value='admin'>Admin</option>
        <option value='admin'>Atendente</option>
        <option value='admin'>Professor</option>
        <option value='admin'>Aluno</option>
    </select>
</div>
<div>
    <input type='text' id='user_email' placeholder="Role">
</div>
<input type='submit' value="Salvar">
</form>