<div class='bg_form_block_screen'>
    <form id='form_add_user'>
        <h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewbox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
            </svg>
            Adicionar Usuário</h3>
        <span class="btn_close_form">X</span>
        <div></div>
        <div>
            <label>Nome:
            </label>
            <input class='name' type='text' id='username' value=''/>
        </div>
        <div>
            <label>Email:
            </label>

            <input type='email' id='user_email' value=''/>
        </div>
        <div>
            <label>Privilégio:
            </label>
            <input type='number' max='5' id='user_privilege' value='1'/>
        </div>


        <div>
            <label>Password:
            </label>
            <input type='password' id='user_password' value=''/>
        </div>
        <div>
            <label>Categoria:
            </label>
            <select id='select_user_role'>
                <option value='admin'>Admin</option>
                <option value='atendente'>Atendente</option>
                <option value='professor' selected>Professor</option>
                <option value='aluno'>Aluno</option>
            </select>
        </div>
        <div>
            <label>Foto URL:
            </label>
            <input type='text' id='user_photoURL' value=''/>
        </div>

        <div class='div_submit'><input type='submit' value="Salvar"/></div>

    </form>
</div>
