<div  class='bg_tables bg_view_tables' id='bg_view_table_users'>
    <table class='view_table' border='1'  id='view_table_users'>
        <thead> 
            <th>Foto</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Categoria</th>
            <th></th>
            <th></th>
            </thead>
        <tbody id='tbody'>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tbody>
    </table>
</div>