<div  class='bg_tables bg_view_tables' id='bg_view_table_log_data'>

    <menu class='filtro_table' id='filtro_table_pag_mensal'>
        <div>
            <select id='select_log'>
                <option value='log_contratos'>Log Contratos</option>
                <option value='log_cursos_info'>Log Cursos Info.</option>
                <option value='log_alunato'>Log Alunato</option>
                <option value='log_users'>Log Users</option>

                <option value='log_fluxo_caixa'>Log Fluxo de Caixa</option>
            </select>
        </div>
    </menu>

    <table class='view_table' border='1'  id='view_table_log_data'>
     
     <thead> 
        <th>#</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Usuário</th>
        <th>Level</th>
        <th>Ação</th>
        <th>Menssagem</th>
    </thead
        <tbody id='tbody'>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tbody>
    </table>
</div>