@use '../abstracts/' as *;
#fieldset_curso {
    border-color: #454 !important;
   // border-color: #27b67a !important;
   div{
    label{
        background: #d3ddd3;
    }
}
    & > div{
        padding: 6px 0px
    }

    #div_curso_nome,
    #div_curso_modulos {
        width: 100%;
        textarea {
            font-size: 14px;
            min-height: 80px;
        };
    }
    .row {
        width: 100%;
        display: flex;
        div {
            flex-shrink: 1;
            flex-grow: 1;
            margin-right: 5px;
            display: flex;
            padding: 5px 0;
            &:first-child {
                label {
                    text-align: left;
                }
            }
            label {
                min-width: 100px;
                max-width: 60px;
            }
        }
      
        #div_curso_duracao,
        #div_curso_parcelas,
        #div_curso_carga_horaria,
        #div_curso_horas_aula,
        #div_curso_valor,
        #div_curso_desconto,
        #div_curso_valor_total {

            label {
                width: 40%;
                max-width: 50%;
            }
            input {
                width: 60%;
            }
        }
        #div_curso_vencimento{
            max-width:20% !important;
            min-width: 130px;
            label{
                width:auto; 
                max-width: 40%;
                min-width: 80px;
                padding-right:0px;
            }
            input{

            }

        }
        #div_curso_inicio,
        #div_curso_data {
            flex-shrink: 1;
            max-width:40% !important;
            label {
                padding-right:0px;
                width: 40%;
                max-width: 50%;
                min-width: auto;
            }
            input {
                width: 60%;
                min-width: auto;

            }
        }

        #curso_valor,
        #curso_desconto,
        #curso_valor_total {
            font-size: 16px;
        }
        #curso_valor_total {
            color: green;
        }
        #curso_desconto {
            color: red;
        }


        #div_curso_obs {
            margin-top: 5px;
            #curso_obs {
                min-height: 60px !important;
                padding: 5px;
            }
        }

    }
    #div_curso_combo{
        background:#d3ddd3;
        //ddd7d3
        padding:10px;
        margin: 10px 0px;
        max-width: 100%;
        height:auto;
        display: flex;
        
        flex-wrap: wrap;
    .row_combo{
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        .div_input_combo{
            #label_check_combo{
                transition: all 0.5s;
                @extend .btn-default;
                padding:20px 0px;
                margin-left:0px;
                min-width: 150px;
                input{
                    display:none;
                }
            }
            .check_combo_checked{
                background: $secondary-color !important;
                color:#fff !important;
            }

        }
        #div_combo_curso_1{

            input{
                color:transparent;
                width:100%;
                
            }
        }
        #div_combo_curso_1, #div_combo_curso_2{
            flex-grow: 1;
            flex-shrink: 1;
            label{
                background: transparent;
                height:20px;
                width:100%;
                display: flex;
            }

        }
        #combo_textarea{
            transition: all 1s;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin: 0px !important;
            padding: 5px;
            height:auto;
        }

    

    }

 }

 
 #div_curso_obs{
    margin-top:10px;
    width: 100%;
    display: flex;
    textarea{
        min-width:80% !important;
        min-height: 80px;
    
    }
}
    

} // fieldset_cursos

// Select colorido dos cursos
select {
    width: 100%;
    .informatica {
        color: $primary-color;
    }
    .web {
        color: #1111ff;
    }
    .ingles {
        color: rgb(207, 6, 117);
    }
    .excel {
        color: green;
    }
    .bd {
        color: rgb(173, 89, 58);
    }
    .re {
        color: rgb(112, 46, 112);
    }
}
