@use '../abstracts/' as *;
#loading_contrato {
    display: none;
    z-index: 5;
    top: -20px;
    left: -50px;
    width: 120%;
    height: 1200px;

    position: absolute;
    background: rgba(80, 80, 90, 0.2);
    h3 {
        font-size: 14px;
        background: $primary-color;
        width: 30%;
        color: #fff;
        text-align: center;
        left: 35%;

        position: fixed;
        padding: 20px 0;
        position: absolute;
        top: 30%;
        img {
            width: 45px;
            height: auto;
            margin: 0 20px;
            float: left;
        }
        span {
            margin-top: 15px;
            margin-right: 20px;
            display: block;
        }
    }
}