@use 'variables' as *;
@use 'functions' as *; 

%btn{
    display:block;
    border-radius: 2px;
    padding: 8px 20px;
    margin:5px;
    border:0px;
    cursor:pointer;
 
}

@mixin btn-primary{
    @extend %btn;
    @include set-background-text-color($primary-color);
}

@mixin btn-secondary{
    @extend %btn;
    @include set-background-text-color($secondary-color);
}

.btn-primary{
    @extend %btn;
   @include set-background-text-color($primary-color);
}
.btn-secondary{
    @extend %btn;
    @include set-background-text-color($primary-color);
}
