@use 'variables' as *;
@use 'functions' as *; 

%btn{
    display:block;
    border-radius: 5px;
    padding: 8px 20px;
    margin:5px;
    border:0px;
    cursor:pointer;
 
}

@mixin btn-primary{
    @extend %btn;
    @include set-background-text-color($primary-color);


}

@mixin btn-secondary{
    @extend %btn;
    @include set-background-text-color($secondary-color);
}


.btn-primary{
    @extend %btn;
   @include set-background-text-color($primary-color);
}
.btn-secondary{
    @extend %btn;
    @include set-background-text-color($primary-color);
   
}

.btn-content{
    @extend %btn;
    @include set-background-text-color($primary-color);
    border-radius: 0px;
    background:#fff;
    border: $border-set-default;
    color:#333;
   
}