@use 'variables' as *;

%inputs{
    border: $border-set-default;
    padding: $padding-extra-light; 
    font-family: $font-stack;
    color:$text-color;

}
@mixin inputs(){
    @extend %inputs;
}

.input-primary{
    @extend %inputs;

}