@use 'variables' as *;
@use 'buttons' as *;
@use 'inputs' as *;

.nav_flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul{
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        li{
            list-style: none;
            a{
                user-select: none;
            }
        }
    }
}