@use 'variables' as *;

.filtro_table{
    display: flex;
    padding:5px; 
    background:#ccc;
 
    select{
        font-size:16px;
        padding:5px 10px;
        font-weight: bolder;
        color:#555;
    }

}
.tables{
   
    width:100%;
    border-collapse: collapse;
    padding:5px;
    th, td{
        padding:5px 10px;
    }
    th{  background: $primary-color; color:#f0f0f0;
         font-weight: normal;
       vertical-align: middle;}
}

.table_info{
    @extend .tables;
    background:#f0f0f0;
    border-collapse: collapse;
    width:100%;
}