@use 'variables' as *;

.bg_tables{
    border: 1px solid #444;
    padding:10px;

}


.filtro_table{
    display: flex;
    padding:5px; 
    background:#ccc;
 border: $border-set-decorative;
 border-bottom:0px;
 border-radius: 3px 3px 0px 0px;
    select{
        font-size:16px;
        padding:5px 10px;
        font-weight: bolder;
        color:#555;
    }

}
.tables{
    width:100%;
    border-collapse: collapse;
    padding:5px;
    th, td{
        padding:5px 10px;
        img{width: 50px; height: 50px;  }
        button{
            padding:5px; font-size: 12px;
                float:none!important;
                display:inline;
                cursor: pointer;
        } 
    }
    .td_controls{
        text-align: center;
    }
    th{  background: $primary-color; color:#f0f0f0;
         font-weight: normal;
       vertical-align: middle;}


       tr:hover{
           background:#ffe;
       }

}

.table_info, .view_table{
    @extend .tables;
    background:#f0f0f0;
    border-collapse: collapse;
    width:100%;
}