@use 'variables' as *;


#window-bar{
    opacity: 1;
    height:35px;
    margin-top:-30px;
    overflow: hidden;
    z-index: 9;
  
    width:100%;
    position: fixed;
    background: #303030;
    color:#fff;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;

        figure#bg_logo {
      cursor:pointer;
     
      padding:30px 20px;
      max-width: 100%;
     height:auto;
      overflow:hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100px;
        max-height: 100%;
      }
    }
    #bg_menu_window_bar{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 12px;


        }
    }
    #bg_buttons_window_bar{
        display: flex;
        button{
            -webkit-app-region: no-drag;
            margin:0px;
            border:0px; 
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:10px;
            background: transparent;
            color:#f0f0f0;
            padding:0px 10px; 
            width:40px;
          
            &:hover{
                background: $primary-color;
            }
        }


        #btn_max_restore_window{
            padding:8px;
            svg{
                font-size: 6px;
                padding: 2px;
                 max-width:15px !important; height:auto;
        }
        }

    }
}