<form id="form_add_aluno" >
    <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
    </svg> Adicionar Aluno</h3>
    <fieldset class='fieldset'>
      <div id='div_ra_aluno'>
        <label id='label_ra_automatico_aluno' class='label_btn_checkbox'>
          <span>Gerar ID Automático</span>
          <input id='checkbox_ra_automatico_aluno' type='checkbox'>
        </label>
        <label for="aluno_ra">RA:</label>
        <input required id="aluno_ra" type="text" list="aluno_datalist_ra"/>
        <datalist id='aluno_datalist_ra'>
          <option></option>
        </datalist>
      </div><!--bg_div_id_aluno-->
      <div>
        <label>Contrato: </label>
        <select id='select_contrato' required>
          <option></option>
        </select>
      </div>
 

        <div>
          <label for="nome">Aluno:</label>
          <input   readonly='true' required id="aluno_nome" type="text" placeholder='Digite o nome do aluno'/>
        </div>
  
        <div>
          <label><span class='required'>&nbsp;&nbsp; *</span>Responsável:</label> 
         <input type='text' id='resp_nome' readonly='true'/>
        </div>


        <div>
          <label><span class='required'>&nbsp;&nbsp; *</span> Curso:</label> 
         <input type='text' id='curso_nome'  readonly='true'/>
        </div>
      </fieldset>


    
    <input type="submit" value="Salvar" />
  </form>