<div  class='bg_info_tables' id='bg_info_table_alunos'>
 
    <div id='bg_tables'>
        <table class='table_info' border='1'  id='table_info_alunos'>
         <caption>Saidas de Caixa</caption>
        <thead> 
            <th>RA</th>
            <th>Nome</th>
            <th>Cursos</th>
            <th></th>
            </thead>
            <tbody id='tbody'>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tbody>
        </table>
</div><!--bg_tables-->

</div>