<div id='bg_info_aluno'>
    <h3>Informações sobre o Aluno</h3>
      <div id='info_aluno_content'>
          <h4 id='aluno_nome'></h4>
      </div>
      <div class='block_info' id='info_cursos'>

    </div>
 <form id='form_info_aluno'>
<fieldset class='fieldset_info' id='filedset_info_cadastro'>
    <div class='div_input'><label>Genero:</label><input  readonly="true" id='genero' type='text'></div>
    <div class='div_input'>
        <label>Endereço:</label><input readonly="true" id='end' type='text'>
        <label>Nº:</label><input  readonly="true" id='end_numero' type='text'>
    </div>
    <div class='div_input'><label>Bairro:</label><input readonly="true" id='bairro' type='text'></div>
    <div class='div_input'><label>CEP:</label><input readonly="true" id='cep' type='text'></div>
    <div class='div_input'><label>RG:</label><input readonly="true" id='rg' type='text'></div>
    <div class='div_input'><label>Data Nasc.:</label><input readonly="true" id='data_nasc' type='text'></div>
    <div class='div_input'><label>Cel.:</label><input readonly="true" id='cel' type='text'></div>
    <div class='div_input'><label>Tel.:</label><input readonly="true" id='tel' type='text'></div>
</fieldset>
<input disabled type='submit' value='Salvar Alterações'>
</form>

</div>