@use "../abstracts" as *;
@use "./form_add_user";
@use "./form_reauth_user";
@use "./form_config_perm";
.nav_forms {
  margin-bottom: 20px;
  width:100%; 
  display: flex;
  justify-content: flex-end;
  ul{display: flex; }
  ul li{ list-style: none;}
  ul li a{ 
    @extend .btn-default;
    margin-right: 0px;

  }
}  


#view_table_users{
  @extend .table_info;
  .td_user_foto {
    text-align: center;
    img{ border-radius: 50%; }
  }
  .td_user_level{ text-align: center;
     width: 20px;
  }
}



#users_content{
  padding:1px;
}