bgPages:
<div class="pages page_content">
    <table border="1">
        <thead>
            <tr>
                <th colspan="4">bimestre 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">Feedback:
                </td>
            </tr>
            <tr>
                <td class="aula_concluida">
                    <span>
                        aula 01 - concluida
                    </span>
                    <p>

                        a
                    </p>
                    <p>
                        2021-10-06 - 08h ├ás 10h
                    </p>
                    <p>

                        AAA
                    </p>
                </td>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
            </tr>
            <tr>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
            </tr>
            <tr>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
            </tr>
            <tr>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
                <td>Aula Pendente</td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>
<div class="pages page_content">
    <table border="1">
        <thead>
            <tr>
                <th colspan="4">bimestre 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">Feedback: test adfsdfsdft eteetet et et et
                </td>
            </tr>
            <tr>
                <td class="aula_concluida">
                    <span>
                        aula 15 - concluida
                    </span>
                    <p>

                        aaaaaaaa
                    </p>
                    <p>
                        2021-10-01 - 11h ├ás 13h
                    </p>
                    <p>

                        aaaaaaaaaaaaaaaaaa
                    </p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 14 - concluida
                    </span>
                    <p>

                        asdfasdf
                    </p>
                    <p>
                        2021-09-09 - 13h ├ás 15h
                    </p>
                    <p>

                        sdfsdfsd
                    </p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 13 - concluida
                    </span>
                    <p>

                        asdfasdf
                    </p>
                    <p>
                        2021-09-02 - 14h ├ás 16h
                    </p>
                    <p>

                        sadfasdfa
                    </p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 12 - concluida
                    </span>
                    <p>

                        aaaaaaaa
                    </p>
                    <p>
                        2021-10-08 - 08h ├ás 10h
                    </p>
                    <p>

                        aaaaaaaaaaaaaaaaa
                    </p>
                </td>
            </tr>
            <tr>
                <td class="aula_concluida">
                    <span>
                        aula 11 - concluida
                    </span>
                    <p>

                        aaaaaaa
                    </p>
                    <p>
                        2021-10-15 - 11h ├ás 13h
                    </p>
                    <p>

                        aaaaaaaaaaaaaaaaaaa
                    </p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 10 - concluida
                    </span>
                    <p>

                        aaaaaaaaa
                    </p>
                    <p>
                        2021-10-07 - 11h ├ás 13h
                    </p>
                    <p>

                        aaaaaaaaaaaaaaaaaaaaa
                    </p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 09 - concluida
                    </span>
                    <p>

                        aaaaaaaaa
                    </p>
                    <p>
                        2021-10-07 - 11h ├ás 13h
                    </p>
                    <p>

                        aaaaaaaaaaaaaaaaaa
                    </p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 08 - concluida
                    </span>
                    <p>

                        aaaaaaaaa
                    </p>
                    <p>
                        2021-10-01 - 11h ├ás 13h
                    </p>
                    <p>

                        aaaaaaaaaaaaaa
                    </p>
                </td>
            </tr>
            <tr>
                <td class="aula_falta">
                    <span>
                        aula 07 - falta
                    </span>
                    <p></p>
                    <p>
                        2021-09-02 - 09h ├ás 11h
                    </p>
                    <p></p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 06 - concluida
                    </span>
                    <p>

                        aaaaaa
                    </p>
                    <p>
                        2021-09-02 - aaaaaa
                    </p>
                    <p>

                        aaaaaaaaaaaaaaaaa
                    </p>
                </td>
                <td class="aula_remarcada">
                    <span>
                        aula 05 - remarcada
                    </span>
                    <p></p>
                    <p>
                        2021-09-09 - 08h ├ás 10h
                    </p>
                    <p></p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 04 - concluida
                    </span>
                    <p>

                        asdf
                    </p>
                    <p>
                        2021-09-02 - 14h ├ás 16h
                    </p>
                    <p>

                        sfdsdfasdf
                    </p>
                </td>
            </tr>
            <tr>
                <td class="aula_concluida">
                    <span>
                        aula 03 - concluida
                    </span>
                    <p>

                        aaaaaaaa
                    </p>
                    <p>
                        2021-10-07 - 09h ├ás 11h
                    </p>
                    <p>

                        aaaaaaaaaaaaa
                    </p>
                </td>
                <td class="aula_remarcada">
                    <span>
                        aula 02 - remarcada
                    </span>
                    <p></p>
                    <p>
                        2021-09-17 - 09h ├ás 11h
                    </p>
                    <p></p>
                </td>
                <td class="aula_concluida">
                    <span>
                        aula 01 - concluida
                    </span>
                    <p>

                        adf
                    </p>
                    <p>
                        2021-09-02 - 08h ├ás 10h
                    </p>
                    <p>

                        dfsdfsf
                    </p>
                </td>
                <td>Aula Pendente</td>
            </tr>
            <tr>
                <td>
                    <span>
                        reposi├º├úo da aula 05
                    </span>
                    tetsetet
                </td>
            </tr>
        </tbody>
    </table>
</div>
