@use '../abstracts/' as *;

#fieldset_resp {}
#fieldset_resp,
#fieldset_aluno {
    .label_numero {
        max-width: 45px !important;
        padding-left: 20px;
    }
    .end_numero {
        max-width: 60px !important;
    }
    #label_parentesco {
        max-width: 100px !important;
        padding-left: 20px;
    }
}

#fieldset_aluno {
    display: block;
    height: 260px;
    border-color: lighten($secondary-color, 10%) !important;
    transition: height 1s, padding 1s, opacity 0.8s;
    opacity: 1;


    // bloqueia o input aluno nome;
    #block_aluno {
        display: none;
        width: 100%;
        min-height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
    }
    #aluno_parentesco {
        max-width: 150px
    }
}
#fieldset_resp {

    border-color: lighten($primary-color, 10%) !important;
    div {
        #btn_marcar_resp_aluno {
            transition: all 0.5s;
            @extend .btn;
            border: 1px solid #444;
            background: #f0f0f0;
            margin: 0 0 0 10px;
            max-width: 250px !important;
            input {
                display: none;
            }
            color: #333;
            &:hover {
                background: #fff;
            }
            &:active {
                background: lighten($primary-color, 2%) !important;
                color: #fff !important;
            }


        }
        .active {
            background: lighten($primary-color, 5%) !important;
            color: #fff !important;
            &:hover {
                background: lighten($primary-color, 10%) !important;

            }
        }

    }

}
