
<div id='bg_forms_add'>

</div>
<div class="components" id="controle_aula">
  <h1>Controle de Aula</h1>
  <div class="page_content">
    <form id="form_select_aluno">
      <div>
        <div class="div_input">
          <label>Aluno: </label>
          <select id="select_aluno" class="input-primary">
            <option value="" disabled>Selectione uma Aluno</option>
          </select>
        </div>
   
        <button class="btn-primary" id="btn_add_aluno" type="button">
          + Aluno
        </button>
        <button class="btn-primary" id="btn_add_aula" type="button">
          + Aula
        </button>
      </div>
    </form>
    <div id="bg_cursos">


  
     
    </div><!--bg_cursos-->
    <!--page_content-->

  </div>
  <!--components-->

</div>

<script src="./components/controle_aula/index.js"></script>
