@use '../abstracts/' as *;
#div_ra_aluno {
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
    flex-shrink: 1;
    flex-grow: 1;
    label {
        display: flex;
        max-height: auto;
        align-items: center;
        padding: 10px 20px;
    }
    input {
        max-width: 300px;
        flex-shrink: 1;
        border: $border-set-default;
        transition: all 0.2s;
        padding: 5px;
        font-size: 18px;
        background: #fff;
        &:focus {
            outline: 2px solid $primary-color;
            outline-offset: -2px;
        }
    }
    input[readonly="true"] {
        border: 1px solid $primary-color;
        background: #c3cad3;
    }


    .input_invalido {
        background: #f1c0c0 !important;
    }

    #label_ra_automatico_aluno {
        margin:0px;
        margin-left:10px;
        transition: all 0.5s;
        border-radius: 3px;
        max-width: 220px;
        min-width: 180px;
        user-select: none;

        #checkbox_id_automatico_aluno {
            display: none;
        }

    }
    .active {
        max-width: 350px;
        width: 350px;
        background: $primary-color !important;
        color: #fff !important;
    }



}
