@use "../abstracts/" as *;


#form_info_aluno, .form_info_curso {
    @extend .form_flex_static;
    background: #f0f0f0; 

    overflow: hidden;
    box-shadow: none;
    border:2px solid $primary-color;
    padding:20px 40px;
    max-width: 1200px;
    input[readonly="true"]{
        background: #ccc;
    }
    table,td, th{
        padding:5px;
        text-align: center;
        border:1px solid #333;
        border-collapse: collapse;
    }
    table{
        width:100%;
        font-size:12px;
        th{
            background: #cdc;
            color:#444;
            font-weight: normal;
        }
        tr{
            &:hover{ background:#ffe;}
        }
        .tr_btn_talao{
            &:hover{background: transparent;}
        }

        td{ text-align: center;
            button{
               background: $primary-color;
               color:#fff;
               border:0px;
            padding:10px;
            cursor: pointer;
            &:hover{
               background: lighten($primary-color, 10%);

            }
        }}
    }
    .fieldset {
        position: relative;
        background: #fff;
        max-width: 100%;
        margin: 20px 0px;
        border: 1px solid #aaa;
        padding: 30px 30px;
        height: auto;
        display: flex;
        flex-wrap: wrap;

        legend {
            background: #f0f0f0;
            padding: 5px 8px;
            position: absolute;
            top: -15px;
            left: 20px;
            border-radius: 5px;
        }
        
        .row {
            max-width: 100%;
            display: flex;
            flex-shrink: 1;
            flex-grow: 1;
            div {
                min-width: 50px;
                flex-shrink: 1;
                flex-grow: 1;
                display: flex;
                padding: 5px 0;

                label {
                    text-align: center;
                    min-width: 60px;
                    max-width: 60%;
                    width:60%;
                    flex-grow: 1;
                }
                input{
                    max-width: 40%;
                }
            }
            #div_valor,
            #div_desconto,
            #div_valor_total {
                label {
                   // width: 40%;
                   // max-width: 50%;
                }
                input {
                   // min-width: 50px;
                   // width: 60%;
                }
            }
        }

        .div_input {
            flex-shrink: 1;
            margin: 0;
            input,
            textarea {
                max-width: none;
            }
            label {
                background: #ddd;
            }
            input[readonly='true'] {
                background: #fff;
                border: 0;
                &:focus {
                    outline: 0;
                }
            }
        }

        #div_desconto_combo,
        #div_curso_obs,
        #div_modulos, #div_aluno_obs {
            min-width: 100%;
        }
        #div_desconto_combo {
            div {
                padding: 5px;
                display: block;
                background: #fff;

            }
        }
        #modulos, #curso_obs{
            max-width: none !important;
        }

        #aluno_ra, #resp_end_numero, #aluno_end_numero, #aluno_genero, #resp_genero{
          max-width: 80px;
      }  
    }

    .fieldset_certificado_status{
        background: #fffff6;
    }
    .fieldset_curso_info{
    }
    .fieldset_resp_info{
    }

    .bg_curso {
        padding:10px;
        margin-top:20px;
        margin-bottom:20px;
        display: block;
        color:#333;

        backdrop-filter: grayscale(30%) !important;

        h4 {

            width:100%;
            svg{
                margin-top:-5px;
                float:right;
                margin-right: 60px;
                width:32px !important; 
                height: 32px !important;
            }
            cursor:pointer; 
            text-transform: uppercase;
            width: calc(100% + 20px);
            text-align: center;
            padding: 20px;
            margin-top: -30px;
            margin-left:-25px; 
            margin-right: -25px;
            margin-bottom:20px;
            width: calc(100% + 100px)
        
        }
        fieldset {

            width: 100%;
       
        }
        label{background:#ddd ;}
    }

    input[type='submit']{
        margin: 0 auto;
        opacity: 0.3;
    }

    .btn_create_certificado{
        @extend .btn-default;


    }
   #label_checkbox_certificado_entregue {
        @extend .btn-default;
        background: #f0f0f0;
        user-select: none;
       margin: 5px;

        max-width: 250px !important;
        min-width: 180px;
 
        input {
          display: none;
        }
        color: #333;

    }

    .active {
        color: #fff !important;
        background: #548b54 !important;
    }

}

.form_info_curso{
    padding: 0;
    max-height: 2000px;
    overflow: hidden;
    background-color: #fff !important;

    h4{
        svg{
            transition: all ease 0.3s;
            transform: rotate(180deg); /* Equal to rotateZ(45deg) */
        }
    }
   
}

.hide_form_info_curso {
    transition: all 1s ease-in-out;
    max-height:60px; 
    overflow: hidden;
    h4{
        svg{
            transform: rotate(0deg) !important; /* Equal to rotateZ(45deg) */
        }
    }
  

}