@use "../abstracts/" as *;

#bg_view_table_alunos{
    position: relative;
}
#view_table_alunos
{
    th{
        background:rgb(196, 102, 65);
    }
    
    .td_ra{
        text-align: center;
    }
    .td_cursos{
        font-size: 13px;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
       padding:0px 5px;
       div{
           display: flex;
           width: 100%;
        span{
            min-height:100%;
            flex-grow: 1;
            text-align: center;
            padding:5px;
            background: #ddddddcc;
            
        }
        span:nth-child(even){
            margin-left:3px;
            

        };

        span[class *='Informática'] {
            color: $primary-color;
        }
        span[class *='web'] {
            color: #1111ff;
        }
        span[class *='Inglês'] {
            color: rgb(207, 6, 117);
        }
        span[class *='Excel'] {
            color: green;
        }
        span[class *='Banco'] {
            color: rgb(173, 89, 58);
        }
        span[class *='Espanhol'] {
            color: rgb(112, 21, 44);
        }
        span[class *='Adm'] {
            color: rgb(21, 112, 85);
        }
        .re {
            color: rgb(112, 46, 112);
        }


       }
 
    }
    .td_controles{
     width: 240px;
        height:40px;
        text-align: center;
            button{

            }
        .btn_delete_curso{
            //color:rgb(116, 106, 106);
        }
        .btn_add_curso{
          //  color:rgb(2, 92, 2);
        }
    }
}