#form_add_feedback_bimestral{
    #div_select_aluno, #div_select_curso, #div_select_bimestre{
      display:none;
    }
    #aluno_nome, #curso_nome, #bimestre_nome{
      width:auto !important;
      max-width: 100% !important;
      flex-grow: 1;
      }
      #div_observacao{
        margin-top:10px;
        padding:0px;
        flex-grow: 1;
        min-width: 100%;
      }
  }
  