@use "../../../assets/css/sass/abstracts/" as *;

$verde-claro: "#d3ddd3";

#form_add_entrada_avulsa {
    fieldset {
        background: rgb(117, 141, 115);
        #div_data {
            max-width: 180px !important;
        }
        #div_saida_valor {
            max-width: 100px !important;
            input {
                color: rgb(184, 53, 53);
            }
        }
        #div_tipo_saida {
            max-width: 150px !important;
        }
        #div_tipo_saida {
            max-width: 150px !important;
        }
        #entrada_avulsa_valor{
            color:green;
        }
        .div_submit {
            input[type='submit'] {
                background: #396635;
                &:hover {
                    background: #45803f;

                }
            }
        }

    }


}
